@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: '#20103C';
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: var(--foreground-rgb);
  background: #FCFAFF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}